<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Chess Room </title>
    <link rel="stylesheet" href="/css/Common.css">
    <link rel="stylesheet" href="/css/Room.css">
</head>
<body>
<h1>Chess Game</h1>
<!-- 방 생성 버튼 -->
<button onclick="openCreateRoomForm()">방 만들기</button>
<!-- 방 생성 폼 (숨김 상태로 시작) -->
<div id="createRoomForm" style="display: none;">
    <h3>방 만들기</h3>
    <label for="roomName">방 이름:</label>
    <input type="text" id="roomName" placeholder="Enter room name" required/><br/>
    <label for="password">비밀번호 (선택 사항):</label>
    <input type="password" id="password" placeholder="Enter password"/><br/>
    <button onclick="createRoom()">방 생성</button>
    <button onclick="closeCreateRoomForm()">생성 취소</button>
</div>

<!-- 방 목록 게시판 -->
<h3>입장 가능한 방</h3>
<div id="roomList">
    <!-- 방들이 이곳에 추가될 것입니다 -->
</div>

<!-- 채팅 입력 필드 -->
<input type="text" id="chatInput" placeholder="Type a message..."/>
<button onclick="sendMessage()">메세지 보내기</button>

<!-- 채팅 메세지 출력 -->
<div id="chatMessages"></div>
<script src="/js/app.js"></script>
</body>
</html>