<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Chess With All of the world! - 로그인</title>
    <link rel="stylesheet" href="/css/Common.css">
    <link rel="stylesheet" href="/css/Login.css">
</head>
<body>
<h1>로그인</h1>
<form action="/Login" method="post">
    <label for="userId">유저 ID:</label>
    <input type="text" id="userId" name="userId" required><br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">로그인</button>
</form>
<a href="/Register">계정 생성하기</a>
</body>
</html>